In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## PRE-PROCESSING

In [4]:
missing_rate = ['Unknown']
data = pd.read_csv('Dataset.csv',na_values = missing_rate, sep=';')

In [5]:
df =data.copy()

In [6]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,NaN,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [7]:
# verification de donnÃ©es manquantes en %

(df.isna().sum()/df.shape[0]).sort_values()*100

CLIENTNUM                    0.000000
Total_Trans_Ct               0.000000
Total_Trans_Amt              0.000000
Total_Amt_Chng_Q4_Q1         0.000000
Avg_Open_To_Buy              0.000000
Total_Revolving_Bal          0.000000
Credit_Limit                 0.000000
Contacts_Count_12_mon        0.000000
Months_Inactive_12_mon       0.000000
Total_Ct_Chng_Q4_Q1          0.000000
Total_Relationship_Count     0.000000
Card_Category                0.000000
Dependent_count              0.000000
Gender                       0.000000
Customer_Age                 0.000000
Attrition_Flag               0.000000
Months_on_book               0.000000
Avg_Utilization_Ratio        0.000000
Marital_Status               7.396070
Income_Category             10.980547
Education_Level             14.999506
dtype: float64

In [8]:
# suppression des donnÃ©es manquantes

df.dropna(axis=0, inplace=True)

In [9]:
df.isna().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [10]:
df['Education_Level'].unique()

array(['High School', 'Graduate', 'Uneducated', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [11]:
# verification des donnees qualit
donnees_quali = df.select_dtypes(include="object").columns

In [12]:
donnees_quali

Index(['Attrition_Flag', 'Gender', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category'],
      dtype='object')

In [13]:
# verification des donnees quanti
donnees_quanti = df.select_dtypes(include="number").columns
donnees_quanti

Index(['CLIENTNUM', 'Customer_Age', 'Dependent_count', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

In [14]:
# suppression de la premiere colonne
df.drop(columns=['CLIENTNUM'], inplace=True)
df

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
5,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,3,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,Existing Customer,54,M,1,High School,Single,$60K - $80K,Blue,34,5,2,0,13940.0,2109,11831.0,0.660,15577,114,0.754,0.151
10121,Existing Customer,56,F,1,Graduate,Single,Less than $40K,Blue,50,4,1,4,3688.0,606,3082.0,0.570,14596,120,0.791,0.164
10122,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10124,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10126,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

### TrainTest - Nettoyage - Encodage

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
trainset, testset = train_test_split(df, test_size=0.2, random_state=0)

In [17]:
trainset['Attrition_Flag'].value_counts()

Existing Customer    4757
Attrited Customer     907
Name: Attrition_Flag, dtype: int64

In [18]:
testset['Attrition_Flag'].value_counts()

Existing Customer    1211
Attrited Customer     206
Name: Attrition_Flag, dtype: int64

### variables qualitatives

In [19]:
for col in df.select_dtypes('object'):
    print(f'{col :-<50} {df[col].unique()}')

Attrition_Flag------------------------------------ ['Existing Customer' 'Attrited Customer']
Gender-------------------------------------------- ['M' 'F']
Education_Level----------------------------------- ['High School' 'Graduate' 'Uneducated' 'College' 'Post-Graduate'
 'Doctorate']
Marital_Status------------------------------------ ['Married' 'Single' 'Divorced']
Income_Category----------------------------------- ['$60K - $80K' 'Less than $40K' '$80K - $120K' '$40K - $60K' '$120K +']
Card_Category------------------------------------- ['Blue' 'Gold' 'Silver' 'Platinum']

In [20]:
def encodage(df):
    code = {'Existing Customer':0,
            'Attrited Customer':1,
            'F':0,
            'M':1,
            'High School':0,
            'Graduate':1,
            'College':2,
            'Post-Graduate':3,
            'Uneducated':4,
            'Doctorate':5,
            'Married':0,
            'Single':1,
            'Divorced':2,
            '$60K - $80K':0,
            'Less than $40K':1,
            '$80K - $120K':2,
            '$40K - $60K':3,
            '$120K +':4,
            'Blue':0,
            'Gold':1,
            'Silver':2,
            'Platinum':3
            }
    for col in df.select_dtypes('object'):
        df[col] = df[col].map(code)
   
    return df

### Encodage

In [21]:
df.dtypes.value_counts()

int64      9
object     6
float64    5
dtype: int64

In [22]:
def preprocessing(df):
    
    df = encodage(df)
    
    X = df.drop('Attrition_Flag', axis=1)
    y = df['Attrition_Flag']
    
    print(y.value_counts())
    
    return X, y

In [23]:
# voir le nombre d'individu dans chaque cas du trainset
x_train, y_train = preprocessing(trainset)

0    4757
1     907
Name: Attrition_Flag, dtype: int64

<ipython-input-20-e1adf64e2756>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].map(code)

In [24]:
#x_train['Education_Level'].unique()

array([2, 1, 5, 3, 0, 4], dtype=int64)

In [25]:
x_test, y_test = preprocessing(testset)

0    1211
1     206
Name: Attrition_Flag, dtype: int64

<ipython-input-20-e1adf64e2756>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].map(code)

### Modelisation

#### 1. Arbre de  dÃ©cision

In [26]:
from sklearn.tree import DecisionTreeClassifier

In [27]:
model = DecisionTreeClassifier(random_state=0)

#### ProcÃ©dure d'Ã©valuation

In [28]:
# la prÃ©cision et le recall sont les metrics permettent de mesurer les proportion d'erreur de type 1
# et 2 dans notre dataset, e.i la proport de faux posit et neg ke notr model effectue
# learning_curve => savoir si notr model est en underfit ou overfit

In [29]:
from sklearn.metrics import f1_score, confusion_matrix, classification_report
from sklearn.model_selection import learning_curve

In [30]:
def evaluation(model):
    
    model.fit(x_train, y_train)
    ypred = model.predict(x_test)
    
    print(confusion_matrix(y_test, ypred))
    print(classification_report(y_test, ypred))

In [31]:
evaluation(model)

[[1171   40]
 [  41  165]]
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      1211
           1       0.80      0.80      0.80       206

    accuracy                           0.94      1417
   macro avg       0.89      0.88      0.88      1417
weighted avg       0.94      0.94      0.94      1417